@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@300&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* coustomised code */


header{
  background-color: black;
  font-size: 35px ;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
header>h1{
	color: white;
}


.footer{
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
}

.properties{
	display: flex;
	width: 100%;
	justify-content: space-between;
	
}
p{
	margin: 0px 0px 0px 10px ;
	
}
.btn{
	background-color: aliceblue;
	border: 0.5px solid;
	margin-left: 80%;
}
.Policy-box{
	margin-left: 20%;
	border-radius: 6px;
	margin-top: 20px;
	width: 50%;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* From uiverse.io */
.buttton {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
   }
   
   .buttton.learn-more {
	width: 12rem;
	height: auto;
   }
   
   .buttton.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #282936;
	border-radius: 1.625rem;
   }
   
   .buttton.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
   }
   
   .buttton.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
   }
   
   .buttton.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
   }
   
   .buttton.learn-more .buttton-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #282936;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
   }
   
   .buttton:hover .circle {
	width: 100%;
   }
   
   .buttton:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
   }
   
   .buttton:hover .buttton-text {
	color: #fff;
   }
   .myfont{
	font-family: 'Bebas Neue', cursive;
	font-size: xx-large;
   }
   .myfontt{
	font-family: 'Roboto Mono', monospace;
   }
   .details{
	display: flex;
	align-items: flex-end;
   }
   .details>p{
	font-family: 'Roboto Mono', monospace;
   }
   .ms-2>svg{
	margin-left: 10px;
   }
   .cart{
position: relative;
background-color: transparent;
right: 10px;
   }
   .cart>span{
	position: absolute;
	color:black;
	font-size: small;
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 10px;
	top:-3px;
	right: -8px;
	background-color: white;
	font-family: 'Roboto Mono', monospace;
	text-align: center;
	font-weight: 800;
}
.box {
	width: 600px;
	background-color: white;
	color:black;
	padding: 10px;
	position: absolute;
	right: 0px;
    top: 23px;
	font-size: medium;
	font-family: 'Roboto Mono', monospace;
	border-radius: 6px;
	box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; }
  
  .box.arrow-top {
	margin-top: 40px;
	z-index: 12;
  }
  
  .box.arrow-top:after {
	content: " ";
	position: absolute;
	right: 30px;
	top: -15px;
	border-top: none;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid white;

  }
  .cartitem{
	border: 1px solid rgba(128, 128, 128, 0.658);
	border-radius: 4px;
	margin: 2px auto;
	width: 98%;
	padding: 5px;
	z-index: 100;
  }
  .cartitemheading{
	display: flex;
	justify-content: space-between;
	margin-bottom: 6px;
	/* align-items: flex-start; */
  }
  .myinput{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid black;
	padding: 6px;
	border-radius: 6px;
	margin: 6px auto;
  }
  .mybtn{
	box-sizing: border-box;
	width: 100%;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	margin: 6px auto;
	padding: 6px;

  }
  .err{
	color: red;
	font-size: small;
  }
  .closebtn{
	color: red;
	text-align: end;
	font-size: smaller;
	width: 98%;
	box-sizing: border-box;
  }